{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {% load static %}
    <img src="{% static 'pages/abap.jpg' %}" height = '50px' width = '100px' >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapse">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/classes">Классы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fm">Функциональные модули</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/other">Разное</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
      <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" name="q">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
    </form>
  </div>
</nav>

{% endblock %}